<div>
  <!--<div class="home jumbotron centered">
    <h1>Welcome to the angular2 authentication sample!</h1>
    <h2 *ngIf="jwt">Your JWT is:</h2>
    <pre *ngIf="jwt" class="jwt"><code>{{ jwt }}</code></pre>
    <pre *ngIf="jwt" class="jwt"><code>{{ decodedJwt | json }}</code></pre>
    <p>Click any of the buttons to call an API and get a response</p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="callAnonymousApi()">Call Anonymous API</a></p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="callSecuredApi()">Call Secure API</a></p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>
    <h2 *ngIf="response">The response of calling the <span class="red">{{ api }}</span> API is:</h2>
    <h3 *ngIf="response">{{ response }}</h3>
  </div>-->

  <nav class="nav has-shadow">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item">
          <img src="https://i1.lmsin.net/website_images/logos/landmarshops-grey@1x.png" alt="Landmark logo">
        </a>
        <a class="nav-item is-tab is-hidden-mobile is-active">HOME</a>
        <a class="nav-item is-tab is-hidden-mobile" [routerLink]="['/products']">PRODUCTS</a>
        <a class="nav-item is-tab is-hidden-mobile" [routerLink]="['/cart']">CART</a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <a class="nav-item is-tab is-hidden-tablet is-active">HOME</a>
        <a class="nav-item is-tab is-hidden-tablet" [routerLink]="['/products']">PRODUCTS</a>
        <a class="nav-item is-tab is-hidden-tablet" [routerLink]="['/cart']">CART</a>
        <a class="nav-item is-tab" role="button" (click)="logout()">LOGOUT</a>
      </div>
    </div>
  </nav>
  <div class="home">
    Welcome to Landmark Shops<br>
    <strong>{{name}}</strong>
  </div>
</div>
