<div>
  <nav class="nav has-shadow">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item">
          <img src="https://angular.io/resources/images/logos/angular2/angular.png" alt="Laravel Angular logo">
        </a>
        <a class="nav-item is-tab is-hidden-mobile" [routerLink]="['/home']">HOME</a>
        <a class="nav-item is-tab is-hidden-mobile is-active">PRODUCTS</a>
        <a class="nav-item is-tab is-hidden-mobile" [routerLink]="['/cart']">CART</a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <a class="nav-item is-tab is-hidden-tablet" [routerLink]="['/home']">HOME</a>
        <a class="nav-item is-tab is-hidden-tablet is-active">PRODUCTS</a>
        <a class="nav-item is-tab is-hidden-tablet" [routerLink]="['/cart']">CART</a>
        <a class="nav-item is-tab" role="button" (click)="logout()">LOGOUT</a>
      </div>
    </div>
  </nav>

  <div class="search has-addons has-addons-centered">
    <form role="form" (submit)="searchProducts($event, search.value)">
      <input class="input is-success" type="text" placeholder="Type text and hit Enter to search"  id="search" #search>
      <button class="button" id="search-button">
        Search
      </button>
    </form>
    <p class="help is-danger" *ngIf="productCount == 0" >Nothing matching found.</p>
    <p class="help is-success" *ngIf="productCount > 1" >{{productCount}} results found!!</p>
    <p class="help is-success" *ngIf="productCount == 1" >{{productCount}} result found!!</p>
  </div>
  <div class="products">
    <ul>
      <li *ngFor="let item of products; let i = index;">
        <div class="card columns">
          <div class="column  is-two-thirds ">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{item.product_name}}</p>
                <p class="subtitle is-6">{{item.product_category}} > {{item.product_sub_category}}</p>
              </div>
            </div>
            <div class="content">
              <div class="attributes" [innerHTML]="showKeyValuePair(item.attributes)"></div>
              Price - <strong>{{item.price}} Rs.</strong>
            </div>
          </div>
          <div class="column is-one-third ">
            <form role="form" (submit)="addToCart($event, quantity.value, productId.value)">
              <p class="control has-addons">
                <input type="hidden" id="productId" [value] = "item.id" #productId>
                <input class="input" type="text" maxlength="5" placeholder="Quantity" id="quantity" #quantity>
                <button type="submit" class="button is-info">Add to cart</button>
              </p>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
